/* #bdy{
    min-height: 100vh !important;
    height: 100vh !important;
    margin: 0 auto !important;
    padding: 0 auto !important;
    box-sizing: border-box;
}
#bdy .main-container {
    max-width: 100vw !important;
    margin: 0 auto;
    background-color: blue;
    display: flex !important;
    flex-direction: row !important;
}

#bdy .main-container .sidebar{
    background-color: red;
    min-height: 100vh;
    height: 100vh;
    min-width: 200px;
    max-width: 200px;
    border-radius: 0px 5px 5px 0px;
}
#bdy .main-container .sidebar .sidebar-container{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#bdy .main-container .sidebar .sidebar-container .logo{
    margin-top: 1.5rem;
    max-width: 100%;
}
#bdy .main-container .sidebar .sidebar-container .logo img{
    max-width: 70%;
}

#bdy .main-container .sidebar .sidebar-container .menu{
    text-align: left;
    margin-top: 2rem;
}

#bdy .main-container .sidebar .sidebar-container .menu li{
    color: white;
    padding: 0.7rem 1rem;
    cursor: pointer;
}

#bdy .main-container .sidebar .sidebar-container .menu li:hover{
    background-color: blue;
} */

.example-container{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
}

  mat-drawer{
    width: 220px;
    text-align: center;
    box-shadow: none !important;
  }

  mat-drawer .sidebar-container{
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  mat-drawer .sidebar-container .logo{
    max-width: 100%;
  }
  mat-drawer .sidebar-container .logo img { 
    max-width: 70%;
    margin: 1rem auto;
  }

  mat-drawer .sidebar-container .menu{
    text-align: left;
    margin-top: 2rem;
}

mat-drawer .sidebar-container .menu li{
    color: black;
    padding: 0.7rem 1rem;
    cursor: pointer;
}

mat-drawer .sidebar-container .menu li:hover{
    background-color:#e4dddd2f !important;
}
/* .imgBrand{
    margin-top: 20px;
    margin-left: -40px;
}
.menu{
    margin-left: 20px !important;
} */