<!-- <section class="dashboard-layout">
    <div class="dashboard-layout">
        <div class="container"> -->

            <!-- Dashboard Layout -->

            <!-- sidebar section -->

            <!-- <div class="sidebar" id="sidebar" data-mobile-menu>
                <div class="open-close-btn-section">
                    <div>
                        <ion-icon class="close-btn" data-mobile-menu-close-btn name="close-outline"></ion-icon>
                    </div>
                </div>
                <div class="top" style="border-bottom: 3px solid #7C5CFC;">
                    <div class="logo">
                        <h1>logo</h1>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <li><ion-icon name="home-outline"></ion-icon><span>Dashboard</span></li>
                        <li><ion-icon name="people-outline"></ion-icon><span>Customer</span></li>
                        <li><ion-icon name="cash-outline"></ion-icon><span>Expense</span></li>
                        <li><ion-icon name="card-outline"></ion-icon><span>Credit</span></li>
                        <li><ion-icon name="log-out-outline"></ion-icon><span>Logout</span></li>
                    </ul>
                </div>
            </div>
           <router-outlet></router-outlet>
        </div>
    </div>
</section> -->

<!-- <section id = "bdy">
    <div class="main-container">
        <div class="sidebar">
            <div class = "sidebar-container">
                <div class="hamburger">|-|</div>
                <div class = "logo">
                    <img src="./../../assets/images/resturant_logo.png" alt="" srcset="">
                </div>
                <div>
                    <ul class="menu">
                        <li class="menu-item">Dashboard</li>
                        <li class="menu-item">Manage Item</li>
                        <li class="menu-item">Manage Profile</li>
                        <li class="menu-item">Customer Data</li>
                    </ul>
                </div>
            </div>
            
        </div>
        <main class="content">
            <div class = "content-container">
                 <h1>main area</h1>
            </div>
        </main>
    </div>
</section> -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened="true">
         <div class = "sidebar-container">
        <div class = "logo">
            <img src="./../../assets/images/resturant_logo.png" alt="" srcset="" class="imgBrand">
        </div>
        <div>
            <ul class="menu">
                <li class="menu-item" routerLink="">Dashboard</li>
                <li class="menu-item" routerLink="/Category">Category Master</li>
                <li class="menu-item" routerLink="/ManageItem">Manage Item</li>
                <li class="menu-item" routerLink="/ManageProfile">Manage Profile</li>
                <li class="menu-item" routerLink="/CustomerData">Customer Data</li>
            </ul>
        </div>
    </div>
</mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>